<!-- Floating Chatbot Button -->
<!-- <div class="chatbot-toggle" (click)="toggleChat()">
  💬
</div> -->

<!-- Chatbot Panel -->
 <div>
<!-- <div *ngIf="chatOpen" class="chatbot-panel animate-slide"> -->
  <!-- Use only your chatbot component -->
  <!-- <chatbot (close)="chatOpen=false"></chatbot> -->
   <botbuster></botbuster>
<!-- </div> -->

<!-- File Upload Section -->
  <!-- <div class="chatbot-upload">
    <label class="upload-label">
      📂 Upload Document:
      <input type="file" (change)="onFileSelected($event)" hidden />
    </label>
  </div> -->
</div>


