<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpenAIKey" value="YOUR_REAL_OPENAI_KEY" />
    <add key="AWSRegion" value="ap-northeast-1" />
    <add key="AWSAgentId" value="AJD6W5LONJ" />
    <add key="AWSAgentAliasId" value="6SRNMCNHZI" />
    <add key="AWSAccessKey" value="AKIAQGXDHESGPE6YQW5O" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
</configuration>
